
### Linux ###
.*
!.gitignore
!.git*
*~


### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

### Eclipse ###
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath


# Locally stored "Eclipse launch configurations"
*.launch

### IntelliJ ###
*.iml
*.ipr
*.iws
.idea/

### Vagrant ###
*.log

